<div class="footer-container">
    <div class="footer-card">

    <div class="footer-heading-box">
        <h1 class="footer-heading">Lumon</h1>
    </div>

    <div class="footer-table-container">
        <table class="footer-table">

            <thead class="footer-table-heading">
                <th>
                    Quick Links
                </th>
            </thead>

            <tbody class="footer-table-body">
                <tr class="footer-row">
                    <td class="footer-data">Home</td>
                </tr>
                <tr class="footer-row">
                    <td class="footer-data">About</td>
                </tr>
                <tr class="footer-row">
                    <td class="footer-data">Contact</td>
                </tr>
            </tbody>
        </table>


        <table class="footer-table">

            <thead class="footer-table-heading">
                <th>
                    Quick Links
                </th>
            </thead>

            <tbody class="footer-table-body">
                <tr class="footer-row">
                    <td class="footer-data">Home</td>
                </tr>
                <tr class="footer-row">
                    <td class="footer-data">About</td>
                </tr>
                <tr class="footer-row">
                    <td class="footer-data">Contact</td>
                </tr>
            </tbody>
        </table>


        <table class="footer-table">

            <thead class="footer-table-heading">
                <th>
                    Quick Links
                </th>
            </thead>

            <tbody class="footer-table-body">
                <tr class="footer-row">
                    <td class="footer-data">Home</td>
                </tr>
                <tr class="footer-row">
                    <td class="footer-data">About</td>
                </tr>
                <tr class="footer-row">
                    <td class="footer-data">Contact</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="copy-right">
        <div class="copy-right-heading-box">
            <h3 class="copy-right-heading">CopyRight © 2025 Lumon.com. All Rights Reserved.</h3>
        </div>
    </div>

    </div>

</div>