<div id="menu-bar">
    <div id="menu-items">
        <h1 onClick="window.location.href='http://localhost:3000/'; return false">Lumon</h1>
        <div id="items">
            <button class="item-button">Buy Crypto</button>
            <button class="item-button">Markets</button>
            <button class="item-button">Trade</button>
        </div>
    </div>
</div>