#price{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    width: 1165px;
    max-width: 1165px;
    /* min-height: 600px; */
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bolder;
}

.hero-subbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-subbox.left{
    gap:10px
}

.hero-subbox.right{
    flex-direction: column;
    align-items: flex-end;
    font-size: 23px;
}

.coin-image{
    font-size: 20px;
    color: whitesmoke;
}

.coin-image-settings{
    height: 65px;
    width: 65px;
}

.coin-name{
    font-size: 40px;
    color: whitesmoke;
}

.coin-p{
    font-size: 40px;
    color: whitesmoke;
}

.coin-c{
    font-size: 25px;
}


.chart-title{
    font-size: 18px;
    color: whitesmoke;
    
}

.chart-body{
    display: flex;
    flex-direction: column;
    align-self: center;
}


#coinChart{
    position: relative;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, #18A5A7, #BFFFC7) 1;
    font-size: 30px;
    z-index: 5;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none; 
    z-index: 10; 
}

.chart-footer{
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    padding: 10px;
    gap: 47px;
    color: whitesmoke;
}

.chart-label{
    display: flex;
}

.chart-controls{
    font-size: 20px;
    color: whitesmoke;
}

.chart-buttons{
    display: flex;
    padding: 10px;
}

.chart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
    /* min-width: 50px; */
    border: none;
    background-color: transparent;

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #18A5A7, #BFFFC7) 1;
}

.chart-button:hover{

    cursor: pointer;

    transition: all 0.5s ease;
    opacity: 1;
    overflow: hidden;

    box-shadow: 
    0 0 5px #18A5A7, /* Inner glow */
    0 0 5px #18A5A7, /* Middle glow */
    0 0 5px #18A5A7, /* Outer glow */
    0 0 5px #18A5A7, /* Further outer glow */
    0 0 10px #BFFFC7 , /* Transition to lighter color */
    0 0 10px #BFFFC7; /* Even lighter for the outermost glow */
}


.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1165px;
    max-width: 1165px;
    min-height: 600px;
}

.coin-statistics-box{
    display: flex;
    justify-content: space-between;
}

.information-box{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 10px;
    color: whitesmoke;
}

.information-header{
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 30px;
}

.description{
    font-size: 20px;
}

.statistics{
    display:flex;
}

.stats{
    display: flex;
    flex-direction: column;
    min-width: 225px;
    /* max-width: 225px; */
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #18A5A7, #BFFFC7) 1;
}

.stat-card{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 50px;
}

.stat{
    padding:5px;
}

.supply{
    display: flex;
}

a {
    text-decoration: none;
    background-image: linear-gradient(to right, #18A5A7, #BFFFC7);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

a:visited {
<<<<<<< HEAD
    color: inherit; 
=======
    color: inherit; /* Ensures the link color doesn't change after being visited */
}

.con{
    
}


@media(max-width: 1265px){
    #price{
        min-width: 700px;
        max-width: 700px;
    }

    .information{
        min-width: 700px;
        max-width: 700px;
    }


    .chart-footer{
        margin-left: 5px;
        font-size: 17px;
        padding: 10px;
        gap: 16px;
    }

    .chart-button{
        font-size: 17px;
        padding: 5px;
    }

    .coin-name{
        font-size: 30px;
    }

    .coin-image-settings{
        width: 55px;
    }

    .coin-p.price{
        font-size: 30px;
    }
    .coin-c.change{
        font-size: 20px;
    }

    .stats{
        max-width: 225px;
    }

    .stat-card{
        font-size: 12px
    }

    .description{
        font-size: 19px;
    }

    .coin-statistics-box{
        flex-direction: column;
        gap: 10px;
    }
}

/* @media(min-width: 751px){
    .chart-body{
        min-height: 350px;
        min-width: 700px;
    }
} */

@media (max-width: 750px) {

    #price{    
        min-width: 650px;
        max-width: 650px;
    }

    .information{
        min-width: 650px;
        max-width: 650px;
    }

    .chart-footer{
        font-size: 14px;
        gap: 18px;
    }

}

/* @media(min-width: 676px){
    .chart-body{
        min-height: 325px;
        min-width: 650px;
    }
} */

@media (max-width: 675px){
    #price{    
        min-width: 500px;
        max-width: 500px;
    }

    .information{
        min-width: 500px;
        max-width: 500px;
    }

    .coin-name{
        font-size: 25px;
    }

    .coin-image-settings{
        width: 40px;
    }

    .coin-p.price{
        font-size: 25px;
    }
    .coin-c.change{
        font-size: 15px;
    }

    .chart-title{
        font-size: 15px;
    }

    .chart-footer{
        font-size: 13px;
        gap: 7px;
    }

    .chart-button{
        font-size: 13px;
    }

    .information-header{
        font-size: 25px;
    }

    .description{
        font-size: 19px;
    }

    .stats{

    }

    .coin-statistics-box{
        flex-direction: column;
        gap: 10px;
    }
  
}


@media(max-width: 550px){
    #price{    
        min-width: 400px;
        max-width: 400px;
    }

    .information{
        min-width: 400px;
        max-width: 400px;
    }

    .coin-name{
        font-size: 20px;
    }

    .coin-image-settings{
        width: 30px;
    }

    .coin-p.price{
        font-size: 20px;
    }

    .coin-c.change{
        font-size: 10px;
    }

    .chart-footer{
        font-size: 10px;
        gap: 5px;
    }

    .chart-button{
        font-size: 9px;
    }

    .information-header{
        font-size: 20px;
    }

    .description{
        font-size: 17px;
    }
}

@media(max-width: 430px){
    #price{    
        min-width: 350px;
        max-width: 350px;
    }

    .information{
        min-width: 350px;
        max-width: 350px;
    }

    .chart-footer {
        font-size: 9px;
        gap: 3px;
    }
    
    .chart-button{
        font-size: 7px;
    }
}


@media(min-width: 431px){
    .chart-body{
        /* min-height: 582px;
        min-width: 1165px; */
        /* height: auto;
        width: 100%; */
        min-height: 200px;
        min-width: 400px;
       
    }
}

@media(min-width: 551px){
    .chart-body{
        /* min-height: 582px;
        min-width: 1165px; */
        /* height: auto;
        width: 100%; */
        min-height: 250px;
        min-width: 500px;
       
    }
}

@media(min-width: 675px){
    .chart-body{
        /* min-height: 582px;
        min-width: 1165px; */
        /* height: auto;
        width: 100%; */
        min-height: 325px;
        min-width: 650px;
       
    }
}

@media(min-width: 751px){
    .chart-body{
        /* min-height: 582px;
        min-width: 1165px; */
        /* height: auto;
        width: 100%; */
        min-height: 350px;
        min-width: 700px;
       
    }
}

@media(min-width: 1266px){
    .chart-body{
        min-height: 582px;
        min-width: 1165px;
        /* height: auto;
        width: 100%; */
     
    }
>>>>>>> make-coin-page-responsive
}